body{
	padding:0;
	margin:0;
	background:#fbfbfb;
	overflow-x:hidden;
	width:100%;
	font-family: Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif;
}

.pages{
	padding: 5px;
	height:50px;
	background: #fbfbfb;
	font-size: 12px;
	text-decoration: none;
	border:1px solid transparent;
	display: flex;
	flex-flow: row;
}

.pages:hover, .pages.hover{
	background:#e8e8e8;
	border:1px solid #d0d0d0;
}

a{
	display:inline-block;
	font-size: 12px;
	text-decoration: none;
	color: #444;
	height:50px;
	display: flex;
	flex-flow: row;
	flex-grow: 1;
	max-width: 100%;
}

.thumb{
	display:block;
	height:40px;
	min-width:64px;
	width:64px;
	border:1px solid #c7c7c7;
	margin:3px 10px 3px 3px;
	padding:2px;
	background:#fff;
}

.favicon{
	background:#fbfbfb;
	position: relative;
	top: -25px;
	left: 3px;
	height:16px;
	width:16px;
	border:1px solid #c7c7c7;
	padding:2px;
}

.box {
	display: flex;
	flex-flow: column;
	overflow: hidden;
}

.title{
	overflow: hidden;
	max-height: 30px;
	line-height: 15px;
	overflow-wrap: break-word;
}

.url{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-height:15px;
	line-height: 15px;
	color: #0095DD;
}

.delete{
	height:16px;
	width:0;
	float:right;
	background:#d82016 url("icons/trash.svg") no-repeat center;
	margin:-62px -33px 0 0;
	padding:23px 0px;
	position:relative;
}

.delete:hover{
	background:#951400 url("icons/trash.svg") no-repeat center;
}

.pages:hover + .delete, .delete:hover{
	display:block;
	margin-right:0;
	width:17px;
	padding:23px 8px;
	transition:margin-right 150ms 100ms ease-in-out;
}

.pages.deleting{
	opacity:.3;
	height:0;
	padding:0 5px;
	border-width:0px;
	transition:	opacity 200ms,
				height 200ms 1800ms,
				padding 200ms 1800ms,
				border-width 200ms 1800ms;
}

.delete.deleting{
	display:block;
	margin-right:0;
	width:17px;
	padding:23px 8px;
	background:#f0b8b5 url("icons/undo.svg") no-repeat center;
	opacity:0;
	transition:	background-color 200ms,
				opacity 200ms 1700ms;
}

.pages.deleting a{
	opacity:0;
	visibility:hidden;
	transition:	opacity 200ms 1800ms,
				visibility 2000ms;
}

#readinglist.deleting .delete:not(.deleting){
	width:0 !important;
	margin:-62px -33px 0 0 !important;
	padding:23px 0px !important;
}
