#__readingList{
	height:37px !important;
	width:100% !important;
	position:fixed !important;
	top:0 !important;
	left:0 !important;
	padding:0 !important;
	visibility:visible !important;
	border:none !important;
	transition:top 200ms !important;
	z-index:214748364 !important;
}

#__readingList.hidden{
	top:-37px !important;
	transition:top 200ms !important;
}
