.light:root {
	--background-color:#f5f6f7;
	--background-hover:#0c0c0d1a;
	--text-color:#0c0c0d;
	--border-color:#ccc;
	--border-focus:#0a84ff;
	--domain-color:#0a84ff;
	--thumb-color:#fff;
	--delete-color:#d70022;
	--delete-hover:#a4000f;
	--delete-active:#5a0002;
	--edit-color:#0060df;
	--edit-hover:#003eaa;
	--edit-active:#002275;
	--search-color:#fff;
	--search-icon:url("icons/search.svg");
	--empty-color:#737373;
	--empty-icon:url("icons/icon2.svg#light");
	--button-active:#0c0c0d33;
	--sort-icon:url("icons/sort.svg");
	--clear-icon:url("icons/clear.svg");
	--checked-icon:url("icons/checked.svg#l");
	--popup-arrow:url("icons/arrow.svg#l");
	--readerMode-icon:url("icons/icon2.svg#dark");
	--scrollbar-thumb:auto;
	--scrollbar-track:auto;
	--overlay-background:rgba(12,12,13,0.8);
}

.dark:root {
	--background-color:#323234;
	--background-hover:#5b5b5d;
	--text-color:#f9f9fa;
	--border-color:#262627;
	--border-focus:#0a84ff;
	--domain-color:#45a1ff;
	--thumb-color:#fff;
	--delete-color:#d70022;
	--delete-hover:#ff0039;
	--delete-active:#5a0002;
	--edit-color:#0060df;
	--edit-hover:#0a84ff;
	--edit-active:#002275;
	--search-color:#474749;
	--search-icon:url("icons/search.svg#d");
	--empty-color:#737373;
	--empty-icon:url("icons/icon2.svg#dark");
	--button-active:#707071;
	--sort-icon:url("icons/sort.svg#d");
	--clear-icon:url("icons/clear.svg#d");
	--checked-icon:url("icons/checked.svg#d");
	--popup-arrow:url("icons/arrow.svg#d");
	--readerMode-icon:url("icons/icon2.svg#light");
	--scrollbar-thumb:#737373;
	--scrollbar-track:#3c3c3d;
	--overlay-background:rgba(12,12,13,0.9);
}

html{
	background-color:var(--background-color);
	height:100%;
	cursor:pointer;
}

body{
	padding:0;
	margin:0;
	background:var(--background-color);
	overflow:hidden;
	width:100%;
	height:100%;
	font-family: Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif;
	scrollbar-color:var(--scrollbar-thumb) var(--scrollbar-track);
}

.pages{
	background:var(--background-color);
	font-size: 12px;
	text-decoration: none;
	display: grid;
}

.normal .pages{
	padding: 5px;
	text-decoration: none;
	color:var(--text-color);
	height:50px;
	max-width: 100%;
	
	grid-template-columns: 80px auto;
	grid-template-rows:auto 1fr;
	grid-template-areas: "thumb title" "thumb url";
}

.compact .pages{
	height:22px;
	padding:4px;
	text-decoration: none;
	color: var(--text-color);
	width:100%;
	
	grid-template-columns: 22px auto;
	grid-template-areas: "icon title";
}

.medium .pages{
	height:30px;
	padding:4px;
	text-decoration:none;
	color:var(--text-color);
	width:100%;
	
	grid-template-columns: 34px auto;
	grid-template-rows:auto 1fr;
	grid-template-areas: "icon title" "icon url";
}

.compact #readinglist>div:not(#emptyList)::after{
  content:"";
  display:block;
  border-bottom:1px solid var(--border-color);
  margin:0 4px 0 26px;
}

.medium #readinglist>div:not(#emptyList)::after{
  content:"";
  display:block;
  border-bottom:1px solid var(--border-color);
  margin:0 4px 0 38px;
}

.normal .boxThumb{
	grid-area:thumb;
}

.medium .url,
.normal .url{
	grid-area:url;
}

.medium .favicon,
.compact .favicon{
	grid-area:icon;
}

.title{
	grid-area:title;
}

#readinglist > div:hover .pages{
	background:var(--background-hover);
}

.readerMode .title::before{
    content:" ";
    background-image: var(--readerMode-icon);
    width:16px;
    height:16px;
    background-size:16px;
    display:inline-block;
    vertical-align:top;
    margin-right:2px;
}

.normal .thumb{
	display:block;
	height:46px;
	width:72px;
	border:1px solid var(--border-color);
	margin:1px;
	background:var(--thumb-color);
}

.normal .favicon{
	background:var(--thumb-color);
	position: relative;
	top: -23px;
	left: 1px;
	height:16px;
	width:16px;
	border:1px solid var(--border-color);
	padding:2px;
}

.compact .favicon{
	height:16px;
	width:16px;
	padding:3px 0;
}

.medium .favicon{
	background:var(--search-color);
	height:16px;
	width:16px;
	border:1px solid var(--border-color);
	border-radius:2px;
	padding:6px;
}

.normal .title{
	overflow: hidden;
	max-height: 30px;
	line-height: 15px;
	overflow-wrap: break-word;
}

.compact .title{
	text-overflow: ellipsis;
	white-space: nowrap;
	max-height: 16px;
	line-height: 20px;
	overflow-wrap: break-word;
	width: calc(100% - 10px);
	overflow:hidden;
}

.medium .title{
	text-overflow: ellipsis;
	white-space: nowrap;
	max-height: 16px;
	line-height: 16px;
	overflow-wrap: break-word;
	width: calc(100% - 10px);
	overflow:hidden;
	margin-top:-1px;
}

.medium .url,
.normal .url{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-height:15px;
	line-height: 14px;
	color:var(--domain-color);
	width: calc(100% - 10px);
}

.buttons{
	display:flex;
	justify-content:flex-end;
	float:right;
	box-sizing:border-box;
}

.normal .buttons{
	width:30px;
	margin:-60px -30px 0 0;
}

.compact .buttons{
	width:60px;
	margin:-30px -60px 0 0;
}

.medium .buttons{
	width:60px;
	margin:-38px -60px 0 0;
}

#readinglist > div:hover > .buttons,
.buttons:hover{
	transition:margin-right 150ms 150ms ease-in-out;
	margin-right:0;
}

.edit{
	width:30px;
	background:var(--edit-color) url("icons/edit.svg") no-repeat center;
	box-sizing:border-box;
	z-index:2;
}

.normal .edit,
.compact .edit{
	height:30px;
}

.medium .edit{
	height:38px;
}

.edit:hover{
	background-color:var(--edit-hover);
}

.edit:active{
	background-color:var(--edit-active);
}

.delete{
	width:30px;
	background:var(--delete-color) url("icons/trash.svg") no-repeat;
	box-sizing:border-box;
	z-index:1;
}

.normal .delete{
	height:60px;
	background-position:center bottom 7px;
	margin-left:-30px;
}

.compact .delete{
	height:30px;
	background-position:center;
}

.medium .delete{
	height:38px;
	background-position:center;
}

.delete:hover{
	background-color:var(--delete-hover);
}

.delete:active{
	background-color:var(--delete-active);
}

.pages.deleting{
	opacity:.3;
	height:0;
	padding:0 5px;
	transition:	opacity 200ms,
				height 200ms 1800ms,
				padding 200ms 1800ms;
}

.buttons.deleting{
	width:100%;
	margin-right:0;
}

.buttons.deleting .delete{
	display:block;
	margin-right:0;
	background:var(--delete-color) url("icons/undo.svg") no-repeat right 7px center;
	opacity:0;
	width:100%;
	transition:	background-color 200ms,
				width 2000ms,
				opacity 200ms 1700ms !important;
}

.pages.deleting div,
.pages.deleting img{
	opacity:0;
	transition:	opacity 0ms 1700ms;
}

#readinglist.deleting .edit,
#readinglist.deleting .buttons:not(.deleting) .delete{
	display:none !important;
}

.none{
	display:none !important;
}

#searchbar{
	width:100%;
	position:fixed;
	top:0;
	z-index:1;
	background:var(--background-color);
}

#search{
	width:calc(100% - 6px);
	color:var(--text-color);
	background:var(--search-color) var(--search-icon) no-repeat 5px center;
	border:1px solid var(--border-color);
	border-radius:2px;
	font-size: 13px;
	padding: 5px 5px 6px 26px;
	margin: 3px;
}

#search:focus{
	border-color:var(--border-focus);
}

#readinglist{
	overflow-y:auto;
	overflow-x:hidden;
	height:100%;
}

#readinglist:not([data-notfound="false"])::after{
	content:attr(data-notfound);
	display:block;
	background:var(--search-icon) center bottom no-repeat;
	background-size:80px;
	width:calc(100% - 10px);
	color:var(--empty-color);
	font-size:1.5em;
	font-weight:bold;
	text-align:center;
	padding:30px 5px 90px;
}

#searchbar:not(.none)+#readinglist{
	margin-top:36px;
	height:calc(100% - 36px);
}

#emptyList h2{
	margin:5px 0;
}

#emptyList{
	background:var(--empty-icon) center bottom no-repeat;
	background-size:100px;
	width:calc(100% - 10px);
	color: var(--empty-color);
	font-size:13px;
	text-align:center;
	padding:30px 5px 110px;
}

#sort:not(.none)+#search{
	width:calc(100% - 38px);
}

#sort{
	float:right;
	-moz-appearance:none;
	background:var(--sort-icon) no-repeat 6px;
	border:none;
	border-radius:2px;
	height:28px;
	width:28px;
	margin:4px 3px 0 0;
}

#sort:hover{
	background-color:var(--background-hover);
}

#sort:active,#sort.active{
	background-color:var(--button-active);
}

#clear{
	background:var(--clear-icon) no-repeat;
	height:16px;
	width:16px;
	position:absolute;
	top:10px;
	right:41px;
	opacity:0;
}

#search:focus+#clear,#search:hover+#clear{
	opacity:.8;
}

#sort.none+#search+#clear{
	right:10px;
}

#clear:hover{
	opacity:1;
}

#popupSort{
	background:var(--search-color);
	border:1px solid var(--border-color);
	padding:4px 0;
	position:fixed;
	right:3px;
	top:36px;
	z-index:2;
	font-size:13px;
	visibility:visible;
	opacity: 1;
	transition:visibility 0s,opacity 150ms,top 180ms;
	transition-timing-function:linear,cubic-bezier(.07,.5,0,1),cubic-bezier(.07,.95,0,1);
}

#popupSort::before{
	content:"";
	background:var(--popup-arrow);
	position:relative;
	right:3px;
	top:-14px;
	height:10px;
	width:20px;
	display:block;
	float:right;
	margin-bottom:-10px;
	margin-left:-15px;
}

#popupSort.hidden{
	visibility:hidden;
	opacity:0;
	top:30px;
}

#popupSort button{
	display:block;
	width:100%;
	-moz-appearance:none;
	border:none;
	background:var(--search-color);
	color:var(--text-color);
	font-family:Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif;
	font-size:13px;
	padding:4px 7px 4px 24px;
	text-align:left;
}

#popupSort button:hover{
	background-color:var(--background-hover);
}

#popupSort button:active{
	background-color:var(--button-active);
}

#popupSort button.checked::before{
	content:"";
	background:var(--checked-icon) no-repeat;
	position:relative;
	left:-16px;
	top:5px;
	height:10px;
	width:12px;
	display:block;
	margin-bottom:-10px;
}

#editOverlay{
	background:var(--overlay-background);
	position:fixed;
	top:0;
	left:0;
	z-index:3;
	height:100%;
	width:100%;
}

#editContainer{
	position:fixed;
	left:2px;
	width:calc(100% - 4px);
}

#editInput{
	height:30px;
	width:calc(100% - 1px);
	box-sizing:border-box;
	color:var(--text-color);
	background:var(--search-color);
	border:1px solid var(--border-color);
	border-radius:2px 0 0 2px;
	padding:0 63px 0 5px;
}

#editInput:focus{
	border-color:var(--border-focus);
}

#editSave{
	height:30px;
	width:60px;
	border:none;
	border-radius:0 2px 2px 0;
	background:var(--edit-color);
	color:#fff;
	box-sizing:border-box;
	padding:0;
	margin:0 0 0 -59px;
	position:relative;
	right:0;
	transition:right 150ms;
}

#editInput:placeholder-shown + #editSave{
	right:-61px;
}

#editSave:hover{
	background-color:var(--edit-hover);
}

#editSave:active{
	background-color:var(--edit-active);
}

#editClose{
	color:#fff;
	font-size:22px;
	height:32px;
	width:32px;
	padding-left:6px;
	box-sizing:border-box;
	float:right;
}

#editClose:hover{
	color:var(--delete-color);
}

#editClose:active{
	color:var(--delete-hover);
}
