.light:root {
	--background-color:#f5f6f7;
	--background-hover:#dddedf;
	--text-color:#0c0c0d;
	--border-color:#ccc;
	--domain-color:#0a84ff;
	--thumb-color:#fff;
	--delete-color:#d70022;
	--delete-hover:#a4000f;
	--delete-deleting:#f993ab;
	--search-color:#fff;
	--search-icon:url("icons/search.svg");
	--empty-color:#737373;
	--empty-icon:url("icons/icon2.svg#light");
}

.dark:root {
	--background-color:#323234;
	--background-hover:#5b5b5d;
	--text-color:#f9f9fa;
	--border-color:#0c0c0d;
	--domain-color:#45a1ff;
	--thumb-color:#fff;
	--delete-color:#d70022;
	--delete-hover:#ff0039;
	--delete-deleting:#841e36;
	--search-color:#474749;
	--search-icon:url("icons/search.svg#d");
	--empty-color:#737373;
	--empty-icon:url("icons/icon2.svg#dark");
}

body{
	padding:0;
	margin:0;
	background:var(--background-color);
	overflow-x:hidden;
	width:100%;
	font-family: Segoe UI,Tahoma,Helvetica Neue,Lucida Grande,Ubuntu,sans-serif;
}

.pages{
	padding: 5px;
	background:var(--background-color);
	font-size: 12px;
	text-decoration: none;
	display: flex;
	flex-flow: row;
}

.normal .pages{
	height:50px;
}

.compact .pages{
	height:22px;
}

.pages:hover, .pages.hover{
	background:var(--background-hover);
}

.normal a{
	display:inline-block;
	font-size: 12px;
	text-decoration: none;
	color:var(--text-color);
	height:50px;
	display: flex;
	flex-flow: row;
	flex-grow: 1;
	max-width: 100%;
}

.compact a{
	display: inline-block;
	font-size: 12px;
	text-decoration: none;
	color: var(--text-color);
	max-width: 100%;
}

.normal .thumb{
	display:block;
	height:40px;
	min-width:64px;
	width:64px;
	border:1px solid var(--border-color);
	margin:3px 10px 3px 3px;
	padding:2px;
	background:var(--thumb-color);
}

.normal .favicon{
	background:var(--thumb-color);
	position: relative;
	top: -25px;
	left: 3px;
	height:16px;
	width:16px;
	border:1px solid var(--border-color);
	padding:2px;
}

.compact .favicon{
	height:16px;
	width:16px;
	float: left;
	margin: 2px 0 -2px 0;
}

.normal .box {
	display: flex;
	flex-flow: column;
	overflow: hidden;
}

.normal .title{
	overflow: hidden;
	max-height: 30px;
	line-height: 15px;
	overflow-wrap: break-word;
}

.compact .title{
	float: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-height: 16px;
	line-height: 16px;
	overflow-wrap: break-word;
	padding: 0 0 0 5px;
	margin: 2px 0 -2px 0;
	width: calc(100% - 30px);
}

.normal .url{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-height:15px;
	line-height: 15px;
	color:var(--domain-color);
}

.delete{
	height:16px;
	width:0;
	float:right;
	background:var(--delete-color) url("icons/trash.svg") no-repeat center;
	position:relative;
}

.normal .delete{
	margin:-60px -33px 0 0;
	padding:22px 8px;
}

.compact .delete{
	margin:-32px -33px 0 0;
	padding:8px;
}

.delete:hover{
	background:var(--delete-hover) url("icons/trash.svg") no-repeat center;
}

.pages:hover + .delete, .delete:hover{
	display:block;
	margin-right:0;
	width:17px;
	transition:margin-right 150ms 100ms ease-in-out;
}

.pages.deleting{
	opacity:.3;
	height:0;
	padding:0 5px;
	transition:	opacity 200ms,
				height 200ms 1800ms,
				padding 200ms 1800ms;
}

.delete.deleting{
	display:block;
	margin-right:0;
	width:17px;
	background:var(--delete-deleting) url("icons/undo.svg") no-repeat center;
	opacity:0;
	transition:	background-color 200ms,
				opacity 200ms 1700ms;
}

.normal .delete.deleting{
	padding:22px 8px;
}

.compact .delete.deleting{
	padding:8px;
}

.pages.deleting a{
	opacity:0;
	visibility:hidden;
	transition:	opacity 200ms 1800ms,
				visibility 2000ms;
}

.normal #readinglist.deleting .delete:not(.deleting){
	width:0 !important;
	margin:-62px -33px 0 0 !important;
	padding:23px 8px !important;
}

.compact #readinglist.deleting .delete:not(.deleting){
	width:0 !important;
	margin:-33px -33px 0 0 !important;
	padding:8px !important;
}

.none{
	display:none !important;
}

#searchbar{
	width:100%;
	position:fixed;
	top:0;
	z-index:1;
	background:var(--background-color);
}

#search{
	width:calc(100% - 6px);
	color:var(--text-color);
	background:var(--search-color) var(--search-icon) no-repeat 5px center;
	border:1px solid var(--border-color);
	border-radius:2px;
	font-size: 13px;
	padding: 5px 5px 5px 26px;
	margin: 3px;
}

#search:focus{
	border-color:#0078d7;
}

#searchbar:not(.none)+#readinglist{
	padding-top:35px;
}

#emptyList h2{
	margin:5px 0;
}

#emptyList{
	background:var(--empty-icon) center bottom no-repeat;
	background-size:100px;
	width:calc(100% - 10px);
	color: var(--empty-color);
	font-size:13px;
	text-align:center;
	padding:30px 5px 110px;
}
